[submodule "third-party/cpu_features"]
	path = third-party/cpu_features
	url = https://github.com/google/cpu_features.git
[submodule "third-party/urcu"]
	path = third-party/urcu
	url = https://github.com/urcu/userspace-rcu.git
[submodule "third-party/highwayhash"]
	path = third-party/highwayhash
	url = https://github.com/google/highwayhash.git
