*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.zip

CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
build
msvc_build
.vscode
*.sln
*.vcxproj
*.vcxproj.filters
.VScodeCounter
**/cmake
*.txt
*.sh
.vs
CMakeSettings.json