*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
build
.vscode
*.sln
*.vcxproj
*.vcxproj.filters