[submodule "third-party/cpu_features"]
	path = third-party/cpu_features
	url = https://github.com/google/cpu_features.git
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "third-party/boost/context"]
	path = third-party/boost/context
	url = https://github.com/boostorg/context.git
[submodule "third-party/boost/assert"]
	path = third-party/boost/assert
	url = https://github.com/boostorg/assert.git
[submodule "third-party/boost/config"]
	path = third-party/boost/config
	url = https://github.com/boostorg/config.git
[submodule "third-party/boost/core"]
	path = third-party/boost/core
	url = https://github.com/boostorg/core.git
[submodule "third-party/boost/mp11"]
	path = third-party/boost/mp11
	url = https://github.com/boostorg/mp11.git
[submodule "third-party/boost/pool"]
	path = third-party/boost/pool
	url = https://github.com/boostorg/pool.git
[submodule "third-party/boost/predef"]
	path = third-party/boost/predef
	url = https://github.com/boostorg/predef.git
[submodule "third-party/boost/smart_ptr"]
	path = third-party/boost/smart_ptr
	url = https://github.com/boostorg/smart_ptr.git
[submodule "third-party/boost/integer"]
	path = third-party/boost/integer
	url = https://github.com/boostorg/integer.git
[submodule "third-party/boost/throw_exception"]
	path = third-party/boost/throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "third-party/boost/static_assert"]
	path = third-party/boost/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "third-party/boost/type_traits"]
	path = third-party/boost/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "third-party/boost/winapi"]
	path = third-party/boost/winapi
	url = https://github.com/boostorg/winapi.git
