*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.zip

CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
build
build_coverage
msvc_build
.vscode
*.sln
*.vcxproj
*.vcxproj.filters
.VScodeCounter
*.sh
.vs
CMakeSettings.json
*.gz
*.dot
*.dot.*
.ninja_log
.ninja_deps
build.ninja
trace
.cache
__pycache__
.clang-tidy
.clangd
*.log
third-party/abseil-cpp

compile_commands.json
build_asan
examples/calc
gcc_build
tools/*
!tools/generate_coverage_report.py
.github/copilot-instructions.md
test.py
